* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gogohack';
    src: url('gogohack-jggy-webfont.woff2') format('woff2'),
         url('gogohack-jggy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    @font-face {
    font-family: 'Shrimp';
    src: url('shrimp-webfont.woff2') format('woff2'),
         url('shrimp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Times-Gothic';
    src: url('bntimesgothic-webfont.woff2') format('woff2'),
         url('bntimesgothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color:#FFE600;
    font-family: Shrimp, Times-Gothic;
    font-size: 30pt;
    margin: 0;
    color:#3A393C;
}

img {
    max-width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 20%;
    width: 100%;
}

.logo {
    display: block;
    max-width: 405px;
    width: 100%;
}

.menu {
    margin-right: 20px;
    margin-left: 20px;
}

.menu a {
    padding-right: 20px;
}

/* .menu a:not(:last-child) {
    margin-right: 20px;
} */

a {
    text-decoration: none;
    color:#3A393C;   
}

a:hover {
    color:white;
}

.bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.horizontal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.horizontal-block {
    background-color:#3A393C;
    width: 100vw;
    height: 8vw;
    margin-bottom: 100px;
    align-items: center;
}

.horizontal-block:not(:first-child) {
    margin-bottom: 0;
}

.yellow-horizontal-block {
    background-color:#FFE600;
    width: 100vw;
    height: 8vw;
    margin-bottom: 100px;
    align-items: center;
}

.yellow-horizontal-block:not(:first-child) {
    margin-bottom: 0;
}

.vertical {
    background-color:#3A393C;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 0;
    gap: 9vw;
    position: relative;
    z-index: 9;
    margin-bottom: 13.55vw;
}

.no-gap-container {
    margin: 0 -9vw; /* Adjust the value based on actual gap and layout */
  }

.vertical a {
    display: flex;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.work-container {
    display: flex;
    flex-direction: column;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    overflow-x: auto;
    gap: 40px;
}

.campus {
    flex: 0 1 auto;
    object-fit: contain;
    height: auto;
}

.ima63 {
    flex: 0 1 auto;
    object-fit: contain;
    height: auto;
}

.vcu {
    flex: 0 1 auto;
    object-fit: contain;
    height: auto;
}

.odu {
    flex: 0 1 auto;
    object-fit: contain;
    height: auto;
}

.logo-block-container {
    background-color:#3A393C;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 0;
    gap: 9vw;
    position: relative;
}

.collar-filler {
    height: 13.5vw;
    width: 100%;
    background-color:#3A393C;
    position: absolute;
    bottom: -13.5vw;
    z-index: -1;
}

/* .zigzag {
    width: 100%;
    height: 100px;
    background: linear-gradient(-45deg, #000 16px, transparent 0), 
                linear-gradient(45deg, #000 16px, transparent 0);
    background-repeat: repeat-x;
    background-size: 32px 32px;
} */

.collar {
    width: 0; 
  height: 0; 
  border-left: 13.666vw solid transparent;
  border-right: 13.666vw solid transparent;
  border-top: 13.666vw solid;
}

.collar.yellow {
    color:#FFE600;
}

.collar.gray {
    color:#3a393c;
}

.collar.day {
    color:#003057;
}

.collar.jet {
    color:#222d4b;
}

.collar.kp {
    color:#73000a;
}

.collar.dentistry {
    color:#0000ff;
}

.collar.insugared {
    color:#e97a26;
}

.collar.popfly {
    color: #6e421b;
}

.collar.door {
    color:#eb6125;
}

.collar.bowling {
    color:#f29120;
}

.collar.black {
    color:#000000;
}

.collar.doubloon {
    color:#f69837;
}

.collar.arctic {
    color:#67e0fc;
}

.collar.captain {
    color:#19345f;
}

.collar-inverse {
    width: 0; 
  height: 0; 
  border-left: 18.1666vw solid transparent;
  border-right: 18.1666vw solid transparent;
  border-bottom: 18.1666vw solid#ffe600;
  position: absolute;
  bottom: -13.5vw;
  right: -22.6666vw;
}

.collar-inverse-left {
    width: 0; 
  height: 0; 
  border-left: 18.1666vw solid transparent;
  border-right: 18.1666vw solid transparent;
  border-bottom: 18.1666vw solid#ffe600;
  position: absolute;
  bottom: -13.5vw;
  left: -22.6666vw;
}

.text-container {
    flex: 2;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.vertical-block {
    background-color:#3A393C;
    width: 100px;
    height: 100vh;
    flex-grow: 0;
    flex-shrink: 0;
}

.icon {
    /* position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); */
    /* max-width: calc(100%-20px-20px); */
    width: 100%;
    /* padding: 30px; */
    /* margin-top: 300px; */
}
.logo-block {
    /* flex: 0 1 auto; */
    width: 100%;
    /* width: calc(33.33% - 80px); */
    /* width: calc((100% - (2 * 10px)) / 3); */
    height: auto;
    /* width: calc(33% - 80px); */
    display: flex;
    flex-direction: column;
    position: relative;
}

.home-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFE600;
    height: 600px;
}

.about-block {
    background-color: #3A393C;
    width: 100%;
}

.comma {
    font-family: times-gothic;
}

.quote-style {
    quotes: "“" "”" "‘" "’";
    font-family: times-gothic;
}

.work-vertical {
    background-color:#3A393C;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 0;
    gap: 9vw;
}

.work-text {
    font-size: 25px;
    color:white;
    width: 75%;
    padding-left: 40px;
    padding-right: 40px;
    align-items: flex-start;
}

/* .dentistry {
    flex: 0 1 auto;
    width: calc((100% - (2 * 10px)) / 3);
    height: auto;
}

.insugared {
    flex: 0 1 auto;
    width: calc((100% - (2 * 10px)) / 3);
    height: auto;
}

.popfly {
    flex: 0 1 auto;
    width: calc((100% - (2 * 10px)) / 3);
    height: auto;
}

.door {
    flex: 0 1 auto;
    width: calc((100% - (2 * 10px)) / 3);
    height: auto;
}

.bowling {
    flex: 0 1 auto;
    width: calc((100% - (2 * 10px)) / 3);
    height: auto;
}

.coin {
    flex: 0 1 auto;
    width: calc((100% - (2 * 10px)) / 3);
    height: auto;
} */

.two {
    color: #FFE600;
}

h2 {
    margin-top: 60px;
}

.subheader {
    padding-left: 40px;
}

.subheader h2 {
    color: white;
    font-family: Gogohack, Helvetica Bold;
}

.about-text {
    font-size: 25px;
    color:white;
    width: 75%;
    padding: 40px;
    align-items: flex-start;
}

.photo {
    /* display: flex; */
    padding: 40px;
}

.email-image-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.email-image {
    width: 35%;
    height: auto;
    transition: all 0.3s ease;
}

.email-image:hover {
    width: 35%;
    height: auto;
}

.contact-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#3A393C;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 0;
    flex-wrap: wrap;
}

.first-name {
    color: white;
}

#contact h2 {
    color: white;
    font-family: Gogohack, Helvetica Bold;
    text-align: center;
    margin-top: 0;
}

#contact label {
    color: white;
}

#contact .form-group input,
#contact .form-group textarea,
#contact .form-group select,
#contact button {
    font-family: 'Shrimp', Helvetica;
    color:#3A393C;
    background-color:#FFE600;
}

#contact input,
#contact textarea,
#contact button,
#contact select {
    border: 1px solid #FFE600;
    border-radius: 0;
    box-shadow: none;
}

#contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
}

.form-group textarea {
    height: 150px;
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    background: #009578;
    color: white;
    border: none;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .header {
        flex-direction: column;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .horizontal-block {
        max-height: 40px;
        margin-bottom: 75px;
    }

    .yellow-horizontal-block {
        max-height: 40px;
        margin-bottom: 75px;
    }

    .content-container {
        flex-direction: column;
    }

    h2 {
        font-size: var(--h3-size, 1.17em)/(1/4); 
        margin-top: 20px;
        margin-bottom: var(--h3-margin-bottom, 1em);
    }
    
    .work-text {
        font-size: 20px;
        width: 100%;
    }

    .logo-block {
        width: calc((100% - (16vw)) / 3);
    }

    .logo-block-container {
        /* flex-direction: column; */
        gap: 0;
    }

    .logo-block {
        width: calc((100% - (16vw)) / 3);
    }

    .desktop-collar {
        display: none;
    }
    
    .collar {
      border-left: 50vw solid transparent;
      border-right: 50vw solid transparent;
      border-top: 50vw solid;
      display: none;
    }
    
    .collar-inverse {
      border-left: 50vw solid transparent;
      border-right: 50vw solid transparent;
      border-bottom: 50vw solid #ffe600;
      bottom: -50vw;
      right: -50vw;
      display: none;
    }
    
    .collar-inverse-left {
      border-left: 50vw solid transparent;
      border-right: 50vw solid transparent;
      border-bottom: 50vw solid #ffe600;
      bottom: -50vw;
      left: -50vw;
      display: none;
    }

    .collar-filler {
        height: 50vw;
        bottom: -50vw;
        display: none;
    }

    .work-filler {
        display: none;
    }

    .yellow-filler {
        display: none;
    }
    
    .gray-filler {
        display: none;
    }
    
    .day-filler {
        display: none;
    }
    
    .jet-filler {
        display: none;
    }
    
    .kp-filler {
        display: none;
    }
    
    .dentistry-filler {
        display: none;
    }
    
    .insugared-filler {
        display: none;
    }
    
    .popfly-filler {
        display: none;
    }
    
    .door-filler {
        display: none;
    }
    
    .bowling-filler {
        display: none;
    }
    
    .black-filler {
        display: none;
    }
    
    .doubloon-filler {
        display: none;
    }
    
    .arctic-filler {
        display: none;
    }
    
    .captain-filler {
        display: none;
    }

    .about-text {
        font-size: 20px;
        width: 100%;
    }

    #contact label {
        color: white;
        font-size: 20px;
    }

    #contact .form-group input,
    #contact .form-group textarea,
    #contact .form-group select,
    #contact button {
    font-size: 20px;
    }
}